.loader-disp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader-div {
  width: 100vw;
  height: 100vh;
  background-color: #264653;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
}
.header {
  height: 80px;
  background-color: #4361ee;
}
.cardsDiv {
  margin: 50px 20px;
}
.MuiFab-root {
  position: absolute;
  top: -100px;
}
